html{
    height: 100vh;
}

body {
    background: #f6f9ff;
}

#content {
    margin-left: 350px;
    width: 90%;
    overflow-x: hidden;
    height: 100vh;
}


.doctor_tb {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin-top: 20px;
    margin-left: 50px;
    border: 1px solid #000;
}

.bang-header {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-left: 420px;
}


.icon_User {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
    border-bottom: 1px solid #787878;
}

.icon_User i {
    font-size: 30px;
    color: white;
}

.icon_User h4{
    color: white;
}

.btn-them, .btn-sua, .btn-xoa {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-them {
    background-color: #45a049; /* Màu xanh lá */
    color: white;
}

.btn-sua {
    background-color: #2196F3; /* Màu xanh dương */
}

.btn-xoa {
    background-color: #F44336; /* Màu đỏ */
}

.btn-them:hover {
    background-color: #45a049; /* Màu xanh lá đậm khi hover */
}

.btn-sua:hover {
    background-color: #0b7dda; /* Màu xanh dương đậm khi hover */
}

.btn-xoa:hover {
    background-color: #d32f2f; /* Màu đỏ đậm khi hover */
}

.doctor_tb td, th {
    text-align: left;
    padding: 8px;
}

.Phankhung {
    display: flex;
}

.sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    width: 350px;
    background: #283345;
    padding: 20px 0;
    margin-bottom: 20px;
    transition: 0.3s;
    touch-action: pan-y;
}



    .sidebar h2 {
        text-align: center;
        color: white;
        font-size: 36px;
        margin: 1em 0;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
        margin-top: 5px;
    }

        .sidebar ul li {
          
        }

            .sidebar ul li:hover {
                color: red;
               
            }

            .sidebar ul li a {
                text-decoration: none;
                color: white;
                font-size: 18px;
                font-weight: 100;
            }

                .sidebar ul li a i {
                    margin-right: 10px;
                }

.size {
    font-size: 24px;
    color: white;
    margin-top: 50px;
}

.bx-user-circle {
    font-size: 75px;
    margin-left: 70px;
}

.d_block {
    display: block;
}

.d_none {
    display: none;
}

.d_flex {
    display: flex;
  
}

.btn_close {
    float: right;
    cursor: pointer;
    display: none;
}

.btn_menu {
    position: fixed;
    margin-top: 1.5em;
    margin-left: 1em;
    display: none;
    opacity: 0.5;
}

    .btn_menu i {
        cursor: pointer;
        background: #ccc;
        color: whitesmoke;
        font-size: 3em;
        border-radius: 10px;
        padding: 9px;
    }

.out {
    position: absolute;
    bottom: 1em;
    margin-left: 15px;
}

    .out i {
        color: white;
        font-size: 18px;
    }

    .out a {
        color: white;
        font-size: 18px;
        text-decoration: none;
    }

    .out a:hover {
        color: #ccc;
    }


/*CODE HERE*/
.contain-qlbn,
.contain-qlbs,
.contain-qllk,
.contain-qlbvsk,
.contain-tkbn,
.contain-qlbn,
.contain-xpk,
.contain-qltt,
.contain-tkdt {
    padding: 15px 15px;
}


    .contain-qlbn:hover,
    .contain-qlbs:hover,
    .contain-qllk:hover,
    .contain-qlbvsk:hover,
    .contain-tkbn:hover,
    .contain-tkdt:hover,
    .contain-xpk:hover,
    .contain-qltt:hover{
        background-color: #d9d9d96e;
    }










    @media only screen and (max-width: 960px) {
        .sidebar {
        position: fixed;
        left: -100%;
        width: 80%;
    }

    .btn_menu {
        display: block;
    }

    .btn_close {
        display: block;
        position: absolute;
        font-size: 18px;
        color: white;
        right: 1em;
        top: 0;
    }

    .active {
        display: flex;
        left: 0%;
        flex-flow: column;
        width: 22em;
    }

    .out i {
        font-size: 25px;
    }

    .out {
        position: absolute;
        bottom: 8em;
    }
}

@media only screen and (min-width: 100px) and (max-width: 786px) {

    body {
        margin: 0;
    }

    #content {
        width: 100%;
        margin: 0;
    }

    .menu-container {
        height: 6em;
    }

    .sidebar {
        position: fixed;
        left: -100%;
        width: 80%;
        top: 0;
    }

    .btn_menu {
        display: block;
    }

    .btn_close {
        position: absolute;
        font-size: 30px;
        right: 30px;
        color: white;
    }

    .active {
        display: flex;
        left: 0%;
    }

    .sidebar ul li {
        padding: 1em 0;
        margin: 2em 0;
    }

        .sidebar ul li a, .sidebar h3 {
            font-size: 25px;
        }

    .sidebar h2 {
        font-size: 25px;
    }

    .btn_menu i {
        font-size: 4em;
    }

    .out i {
        font-size: 25px;
    }

    .out {
        position: absolute;
        bottom: 2em;
    }

    .size {
        margin-top: unset;
    }

    .sidebar ul li {
        margin: unset;
    }
}
/*Moblie*/
@media only screen and (max-device-width: 960px) {
    .sidebar {
        position: fixed;
        left: -100%;
        width: 80%;
    }

    .btn_menu {
        margin: 0;
        display: block;
        width: 100%;
        padding: 1em;
        background-color: #4ba7f0;
        opacity: 0.9;
    }

    .btn_close {
        display: block;
    }

    .active {
        display: block;
        left: 0%;
    }
}

@media only screen and (min-device-width: 100px) and (max-device-width: 786px) {
    body {
        margin: 0;
    }


    .menu-container {
        height: 11em;
    }

    .sidebar {
        position: fixed;
        left: -100%;
        width: 80%;
        top: 0;
    }

    .btn_menu {
        display: block;
    }

    .btn_close {
        position: absolute;
        font-size: 5em;
        right: 30px;
        color: white;
    }

    .active {
        display: flex;
        left: 0%;
    }

    .sidebar ul li {
        padding: 1em 0;
        margin: 2em 0;
    }

        .sidebar ul li a, .sidebar h3 {
            font-size: 4em;
        }

    .sidebar h2 {
        font-size: 5em;
    }

    .btn_menu i {
        font-size: 8em;
    }

    .out i {
        font-size: 80px;
    }

    .out {
        position: absolute;
        bottom: 8em;
    }
}
